Accountig_Integration/WebServiceTLAExterno/Connected Services/FarmAgroPruebas/WebService_FarmAgro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OrdenesExpedicion_03">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrdenesExpedicion_03Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrdenesExpedicion_03Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrdenesASN_01">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrdenesASN_01Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrdenesASN_01Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Materiales_11">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Materiales_11Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Materiales_11Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OrdenesExpedicion_03SoapIn">
    <wsdl:part name="parameters" element="tns:OrdenesExpedicion_03" />
  </wsdl:message>
  <wsdl:message name="OrdenesExpedicion_03SoapOut">
    <wsdl:part name="parameters" element="tns:OrdenesExpedicion_03Response" />
  </wsdl:message>
  <wsdl:message name="OrdenesASN_01SoapIn">
    <wsdl:part name="parameters" element="tns:OrdenesASN_01" />
  </wsdl:message>
  <wsdl:message name="OrdenesASN_01SoapOut">
    <wsdl:part name="parameters" element="tns:OrdenesASN_01Response" />
  </wsdl:message>
  <wsdl:message name="Materiales_11SoapIn">
    <wsdl:part name="parameters" element="tns:Materiales_11" />
  </wsdl:message>
  <wsdl:message name="Materiales_11SoapOut">
    <wsdl:part name="parameters" element="tns:Materiales_11Response" />
  </wsdl:message>
  <wsdl:portType name="WebService_FarmAgroSoap">
    <wsdl:operation name="OrdenesExpedicion_03">
      <wsdl:input message="tns:OrdenesExpedicion_03SoapIn" />
      <wsdl:output message="tns:OrdenesExpedicion_03SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrdenesASN_01">
      <wsdl:input message="tns:OrdenesASN_01SoapIn" />
      <wsdl:output message="tns:OrdenesASN_01SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Materiales_11">
      <wsdl:input message="tns:Materiales_11SoapIn" />
      <wsdl:output message="tns:Materiales_11SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_FarmAgroSoap" type="tns:WebService_FarmAgroSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrdenesExpedicion_03">
      <soap:operation soapAction="http://tempuri.org/OrdenesExpedicion_03" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdenesASN_01">
      <soap:operation soapAction="http://tempuri.org/OrdenesASN_01" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Materiales_11">
      <soap:operation soapAction="http://tempuri.org/Materiales_11" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_FarmAgroSoap12" type="tns:WebService_FarmAgroSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrdenesExpedicion_03">
      <soap12:operation soapAction="http://tempuri.org/OrdenesExpedicion_03" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdenesASN_01">
      <soap12:operation soapAction="http://tempuri.org/OrdenesASN_01" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Materiales_11">
      <soap12:operation soapAction="http://tempuri.org/Materiales_11" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_FarmAgro">
    <wsdl:port name="WebService_FarmAgroSoap" binding="tns:WebService_FarmAgroSoap">
      <soap:address location="http://wstlatest/WSFarmagroInterno/WebService_FarmAgro.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_FarmAgroSoap12" binding="tns:WebService_FarmAgroSoap12">
      <soap12:address location="http://wstlatest/WSFarmagroInterno/WebService_FarmAgro.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>