Accountig_Integration/WebServiceTLAExterno/Connected Services/Accounting/Accounting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IntSaldosDiarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataconvert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntSaldosDiariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IntSaldosDiariosResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dataconvert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntCXC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataconvert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntCXCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IntCXCResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dataconvert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INT_INGRESOS_CXC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataconvert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INT_INGRESOS_CXCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INT_INGRESOS_CXCResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dataconvert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IntSaldosDiariosSoapIn">
    <wsdl:part name="parameters" element="tns:IntSaldosDiarios" />
  </wsdl:message>
  <wsdl:message name="IntSaldosDiariosSoapOut">
    <wsdl:part name="parameters" element="tns:IntSaldosDiariosResponse" />
  </wsdl:message>
  <wsdl:message name="IntCXCSoapIn">
    <wsdl:part name="parameters" element="tns:IntCXC" />
  </wsdl:message>
  <wsdl:message name="IntCXCSoapOut">
    <wsdl:part name="parameters" element="tns:IntCXCResponse" />
  </wsdl:message>
  <wsdl:message name="INT_INGRESOS_CXCSoapIn">
    <wsdl:part name="parameters" element="tns:INT_INGRESOS_CXC" />
  </wsdl:message>
  <wsdl:message name="INT_INGRESOS_CXCSoapOut">
    <wsdl:part name="parameters" element="tns:INT_INGRESOS_CXCResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountingSoap">
    <wsdl:operation name="IntSaldosDiarios">
      <wsdl:input message="tns:IntSaldosDiariosSoapIn" />
      <wsdl:output message="tns:IntSaldosDiariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntCXC">
      <wsdl:input message="tns:IntCXCSoapIn" />
      <wsdl:output message="tns:IntCXCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INT_INGRESOS_CXC">
      <wsdl:input message="tns:INT_INGRESOS_CXCSoapIn" />
      <wsdl:output message="tns:INT_INGRESOS_CXCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountingSoap" type="tns:AccountingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntSaldosDiarios">
      <soap:operation soapAction="http://tempuri.org/IntSaldosDiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntCXC">
      <soap:operation soapAction="http://tempuri.org/IntCXC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INT_INGRESOS_CXC">
      <soap:operation soapAction="http://tempuri.org/INT_INGRESOS_CXC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountingSoap12" type="tns:AccountingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntSaldosDiarios">
      <soap12:operation soapAction="http://tempuri.org/IntSaldosDiarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntCXC">
      <soap12:operation soapAction="http://tempuri.org/IntCXC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INT_INGRESOS_CXC">
      <soap12:operation soapAction="http://tempuri.org/INT_INGRESOS_CXC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Accounting">
    <wsdl:port name="AccountingSoap" binding="tns:AccountingSoap">
      <soap:address location="http://wstlatest/WSAccounting/Accounting.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountingSoap12" binding="tns:AccountingSoap12">
      <soap12:address location="http://wstlatest/WSAccounting/Accounting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>